*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
header{
  height: 60px;
  background-color: #6c839a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon{

}
main{
  display: flex;
  background-color: #1d2d3b;

  justify-content: center;
}
.cardwrapper{
  width: 60%;
  min-height: calc( 100vh - 60px) ;
  margin:  auto;
  display: flex;
  flex-flow: wrap;
  justify-content:space-evenly;
  margin-top: 40px;

}
.cards{
  height: 300px;
  width: 200px;;
  background-color: #2e3946;
  margin-bottom: 40px;
  padding: 25px;
}
.disco{
  width: 100%;
  border-radius: 5%;
  border: 1px solid #6c839a;
}
.name{
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
.info{
  text-align: center;
  display: block;
  color: #6c839a;
  text-transform: uppercase;
  margin-top: 5px;
}
.year{
  text-align: center;
  display: block;
  color: #6c839a;
  font-size: 10px;
}
#generes{
  display: block;
  text-align: center;
  margin-right: 50px;
  font-size: 12px;
  background-color: #1d2d3b;
  color:#dee5ed;

}
.searchy{
  margin-right: 10px;
  background-color: #1d2d3b;
  color:#dee5ed;
  font-size: 12px;
  border: 1px solid #dee5ed;
  border-radius: 5%;
}
